<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>Gender:</b>
  <% if @article.gender == true %>
    Male
    <% else %>
    Female
    <% end %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<% if @article.have_comments %>
<h2>Comments</h2>


<%= render "comments/comments" %>
<%= render "comments/form" %>
<% end %>
